h1{
  text-align: center;
  font-size: xx-large;
  color:grey;
}

img{
  display: block;
  margin: 0 auto;
  width: 27%;
  margin-bottom: 5px;
}

.error-output{
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: red;
}

.center{
  text-align: center;
}

html {
  background-color: blue;
}

body {
  width: 650px;
  margin: 0 auto;
  background-color: rgb(225, 137, 5);
  padding: 0 20px 20px 20px;
  border: 5px solid;
}
p,li {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
   line-height: 25px;
  letter-spacing: 0.75px; 
}